<p>
    1 Restaurant Found!
</p>
<ul id="restaurants-list">
    <li class="restaurant-item">
        <article>
            <h2>
                <%= restaurants[0].name %>
            </h2>
            <div class="restaurant-meta">
                <p>
                    <%= restaurants[0].cuisine %>
                </p>
                <p>
                    <%= restaurants[0].address %>
                </p>
            </div>
            <p>
                <%= restaurants[0].description %>
            </p>
            <div class="restaurant-actions">
                <a href="<%= restaurants[0].website %>">View Website</a>
            </div>
        </article>
    </li>
</ul>